List of Department

@model System.Data.DataTable
@{
    ViewBag.Title = "ListDepartment";

}
<table class="table table-bordered table-striped">
    <tr>
        <th> DeptNo</th>

        <th> DeptName</th>
    </tr>

    @for (int i = 0; i < Model.Rows.Count; i++)
    {
<tr>

    <td>@Model.Rows[i][0]</td>
    <td>@Model.Rows[i][1]</td>
    <td>
        <a href="@Url.Action("DeleteDepartment","DepartmentController1",new { @Deptid = @Model.Rows[i][0] })">Delete</a>

    </td>
    <td>
        <a href="@Url.Action("EditDept","DepartmentController1",new { @id = @Model.Rows[i][0] })">edit</a>

    </td>

</tr>

    }
</table>
<a href=" @Url.Action("CreateDepartment","Departmentcontroller1")">Add Department</a>
@*<br />

<a href=" @Url.Action("EditDept","DepartmentController1")">Edit Department</a>*@